.ErrorContainer {
  margin-top: 100px;
}

.ErrorTitle {
  font-size: 36px;
}

.ErrorInput {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  font-size: 18px;
  text-align: center;
  width: 112px;
}

.ErrorInput::placeholder{
  text-align: center;
  font-size: 18px;
}

.ErrorInput:focus {
  border: none;
  border-bottom: 2px solid black;
}

.returnButton {
  background: none;
  border: none;
  color: blue;
  font-size: inherit;
  cursor: pointer;
}

.returnButton:hover {
  background-color: var(--softGrey);
  border-radius: 12px;
}

.EnterrTextContainer{
  color: rgb(209, 19, 19);
  display: flex;
  align-items: center;
  justify-content: center;
}

.EnterKeyButton{
  position: relative;
  background: none;
  border: none;
  margin: 4px 6px 0 6px;
  width: 21px;
  height: 13px;
}

.EnterIcon{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: rgb(59, 59, 59);
  width: 20px;
  height: 12px;
  box-shadow: 1px 1px rgb(148, 146, 146);
}

.EnterIcon:active{
  box-shadow: none;
  top: 1px;
  left: 1px;

}

@media screen and (max-width: 600px) {
  .returnButton {
    background-color: var(--softGrey);
    border-radius: 12px;
  }
}