.toDoWrapper{
  display: flex;
  gap: 30px;
}

.checkBoxContainer {
  position: relative;
  cursor: pointer;
  font-size: 22px;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
}

.check {
  font-size: 24px;
  position: absolute;
  top: -4px;
  left: 4px;
  z-index: 2;
}

.itemText{
  font-size: 20px;
  font-weight: bold;
}