.Item {
  display: flex;
  justify-content: center;
}

.List {
  list-style: none;
  border-bottom: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
  margin-top: 40px;
  width: 700px;
}

.Title {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #000;
  line-height: 0em;
  margin: -1px 0 20px;
}

.Title span {
  background: #fff;
  padding: 0 10px;
}

.CloseButton {
  margin-left: 630px;
  cursor: pointer;
  border: none;
  background: none;
  color: rgb(170, 165, 165);
  font-size: large;
  z-index: 1;
}

.CloseButton:hover {
  color: gray;
}


.BodyText{
  word-wrap: break-word;
  margin-bottom: 70px;
}

.DateAndTime{
  margin-top: -20px;
  margin-left: 10px;
  width: fit-content;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 600px){
  .Item{
    justify-content: flex-start;
  }

  .List{
    width: 100%;
    margin: 16px;
    display: flex;
    flex-direction: column;
  }
  .Title{
    font-size: 30px;
  }
  .CloseButton{
    margin: 0%;
    margin-left: 85%;
  }
  }
  