.taskContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  border: 2px black solid;
  border-top: transparent;
  width: 80%;
  max-width: 800px;
}

.Title {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid rgb(0, 0, 0);
  line-height: 0;
  margin: 0 0 20px;
}

.Title span {
  background: #fff;
  padding: 0 10px;
}

.descriptionText {
  white-space: pre-line;
  word-wrap: break-word;
  padding: 0 12px 12px;
}

.DeleteButton, .EditButton {
  margin-left: 90%;
  cursor: pointer;
  border: none;
  background: none;
  color: rgb(170, 165, 165);
  z-index: 1;
  font-size: 20px;
}

.DeleteButton:hover {
  color: gray;
}


.DateAndTime {
  position: absolute;
  font-weight: bold;
  top: 0;
  left: 20px;
  width: fit-content;
  padding: 0;
  margin-bottom: 0;
}

.colorTag {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 4px;
  height: 90%;
}


@media screen and (max-width: 600px) {
  .taskContainer{
    gap: 10px;
  }

  .DeleteButton {
    margin-left: 85%;
  }

  .DateAndTime {
    top: 12px;
  }
}
