.Item {
  display: flex;
  justify-content: center;
}

.List {
  list-style: none;
  border-bottom: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
  margin-top: 40px;
  width: 700px;
}

.Title {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #000;
  line-height: 0em;
  margin: -1px 0 20px;
}

.Title span {
  background: #fff;
  padding: 0 10px;
}

.TrashButton {
  margin-left: 630px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: large;
  z-index: 1;
  filter: opacity(0.4) drop-shadow(0 0 0 gray);
}

.TrashButton:hover {
  filter: opacity(1) drop-shadow(0 0 0 gray);
}


.BodyText{
  word-wrap: break-word;
  margin-bottom: 70px;
}

.DateAndTime{
  margin-top: -20px;
  margin-left: 10px;
  width: fit-content;
  border-bottom: 1px solid black;
}