.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
 height: fit-content;
 width: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 90%;
  margin-bottom: 5%;
  color: rgb(170, 165, 165);
  font-size: large;
}

.closeButton:hover {
  color: gray;
}

.TaskTitle {
  font-size: 150%;
  margin-bottom: 5%;
  width: 100%;
  word-wrap: break-word;
  border-radius: 5px;
  resize: initial;
}

.TaskText {
  margin-bottom: 3%;
  height: 300px;
  width: 100%;
  resize: none;
  border-radius: 5px;
  border: 3px solid #ccc;
  outline: none;
  transition: 0.5s;
}

.TaskText:focus{
  border: 3px solid #555;
}


.TaskDate {
  margin-bottom: 10%;
  border-radius: 5px;
}

.TaskTime {
  margin-left: 5%;
  border-radius: 5px;
}

input{
  border: 3px solid #ccc;
  outline: none;
  transition: 0.5s;
}

input:focus {
  border: 3px solid #555;
}


.saveButton {
border: none;
background: none;
font-size: 20px;
}

.cancelButton {
  margin-left: 6%;
  border: none;
  background: none;
  font-size: 20px;
}

.changesButtons button{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #2886c0;
  border: dashed 1px #67c5ff;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
}

.changesButtons button:hover {
  background: #7dc3e9;
  color: #FFF;
}


/* continue!: */

@media screen and (max-width: 500px) {
  .modalContainer{
    width: 100px;
    height:100px;
  }

  .closeButton {
    font-size: 5px;
  }
  .modalContainer input{
    font-size: 5px;
margin-bottom: 0px;
  }
}
