.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  min-width: 40%;
  min-height: 60%;
  max-width: 40%;
  max-height: 60%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 90%;
  margin-bottom: 5%;
  color: rgb(170, 165, 165);
  font-size: large;
}

.closeButton:hover {
  color: gray;
}

.TaskTitle {
  font-size: 150%;
  margin-bottom: 5%;
  max-height: 10%;
  min-height: 10%;
  max-width: 100%;
  min-width: 100%;
  word-wrap: break-word;
  border-radius: 5px;
  border: 1px solid black;
}

.TaskText {
  margin-bottom: 3%;
  min-height: 30%;
  width: 90%;
  width: 100%;
  height: 30%;
  resize: none;
  border-radius: 5px;
  border: 1px solid black;
}

.TaskDate {
  margin-bottom: 10%;
  border-radius: 5px;
  border: 1px solid black;
}

.TaskTime {
  margin-left: 5%;
  border-radius: 5px;
  border: 1px solid black;
}

.saveButton {
  width: 20%;
  border-radius: 5px;
  border: 1px solid black;
}

.cancelButton {
  margin-left: 2%;
  border-radius: 5px;
  border: 1px solid black;
}