.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 45%;
  height: 70%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgb(224, 217, 217) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 95%;
  margin-bottom: 5%;
  color: rgb(170, 165, 165);
  font-size: large;
}

.closeButton:hover {
  color: gray;
}

.TaskTitle {
  margin-bottom: 5%;
  width: 100%;
  word-wrap: break-word;
  border-radius: 5px;
  resize: initial;
  font-size: 200%;
}

.TaskText {
  margin-bottom: 3%;
  width: 100%;
  height: 30%;
  resize: none;
  border-radius: 5px;
  border: 3px solid #ccc;
  outline: none;
  transition: 0.5s;
  font-size: 150%;
}

.TaskText:focus {
  border: 3px solid #555;
}


.TaskDate {
  margin-bottom: 10%;
  border-radius: 5px;
  font-size: 150%;
}

.TaskTime {
  margin-left: 5%;
  border-radius: 5px;
  font-size: 150%;
}

input {
  border: 3px solid #ccc;
  outline: none;
  transition: 0.5s;
}

input:focus {
  border: 3px solid #555;
}


.saveButton {
  border: none;
  background: none;
  font-size: 150%;
}

.cancelButton {
  margin-left: 6%;
  border: none;
  background: none;
  font-size: 150%;
}

.changesButtons button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #2886c0;
  border: dashed 1px #67c5ff;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
}

.changesButtons button:hover {
  background: #7dc3e9;
  color: #FFF;
}


/* continue!: */
/* smaller: less pixels */
/* max from the number down */
/* min from the number up */

@media screen and (min-width: 1000px)
{
  .modalContainer {
    width: 50%;
    height: 80%;
  }
  
}

@media screen and (max-width: 1000px) and (min-width: 610px) {
  .modalContainer {
    width: 50%;
    height: 80%;
  }
}

@media screen and (max-width: 600px) and (min-width: 510px){
  .modalContainer {
    width: 50%;
    height: 80%;
  }

  .closeButton {
    font-size: x-small;
  }

  .TaskTitle {
    font-size: 10px;
    border-width: 3px;
  }
  
  .TaskText {
    font-size: 7px;
    border-width: 3px;
  }
  
  .TaskDate {
    font-size: 7px;
    border-width: 3px;
  }
  
  .TaskTime {
    font-size: 7px;
    border-width: 3px;
  }

  .saveButton {
    font-size: 15px;
  }
  
  .cancelButton {
    font-size: 15px;
  } 
}

@media screen and (max-width: 400px) {
  .modalContainer {
 background-color: red;
  }
}